language: php

php:
  - 7.2
  - 7.3

branches:
  only:
    - master

before_script:
  - composer self-update
  - composer install --no-interaction

script:
  - phpunit --bootstrap vendor/autoload.php --coverage-clover coverage.xml --whitelist src tests

after_success:
  - bash <(curl -s https://codecov.io/bash)

cache:
  directories:
    - $HOME/.composer/cache
